
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
  --main-color: #87c5dd;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(225,255,255,0.4);
  
}


*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease;

}


html{
  font-size: 62.5%;
 overflow-x: hidden;
 scroll-padding-top: 9rem;
 scroll-behavior: smooth;
}



body{
  background-color: var(--main-color);
  
  
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  height: 10vh;
  box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header .navbar a{
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--main-color);
  border-bottom: 0.1rem solid transparent;

}

.header .navbar .active,
.header .navbar a:hover{
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}
  
  




section{
  padding: 3.5rem 7%;
}


.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: blue;
  background-color: var(--main-color)
  cursor: pointer;
}





.home{
  min-height: 100vh;
  
  background: url(unes_4246.jpg);
 background-size: cover;
 background-position: center;
  align-items: center;
  margin-top: -14.5rem;
  display: flex;
  align-items: center;
  padding: 7;
  margin: 5;
  display: flex;
}
.home .content{
  max-width: 60rem;
}

.home .content h3{
  font-size: 6rem;
}
.menu .box-container .box img{
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 97%;
  display: flex;
  /* padding: 5;
  margin: 5; */
}

.menu .box-container .box{
  
  padding: 3rem;
  background-color: wheat;
  background-position: center;
  border-radius: 3rem;
  box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
  min-height: 60rem;
 
}

.menu .box-container .h1{
  font-size: 1.2rem;
  height: 0.6rem;
  
}
  
.menu .box-container .p{
  font-size: 9.5rem%;
  font-weight border: 900%;

}



.menu .box-container .box{
  padding: 6rem;
  
  background-color: wheat;
  background-position: center;
  border-radius: 2rem;
  box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
  min-height: 70rem;
 
}



.menu .box-container .box img{
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 97%;
  padding: 5;
  margin: 5;
}


/* responsive start */

@media (max-width:991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
  .products .box-container .box .box-head .h1 {
    font-size: 20.5rem;
  }
  .products .box-container .box .box-head .p{
    font-size: xx-large;
  } 
  section .contact {
    padding: 2rem;
  }
}
/* responsive end */









*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  color: #1f1c1c;
  background-color: var(--main-color);
  font-family: 'Ubuntu', sans-serif;
}

#contact{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.title{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}
.contact-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-left{
  width: 40%;
  padding: 3rem;
}
.cont-top{
  padding-bottom: 2rem;
  border-bottom: 1px solid #131111;
}
.cont-element{
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.cont-element i{
  color: #111111;
  padding: 0.7rem;
  border-radius: 50%;
  border: 2px solid #131111;
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: all 0.4s ease;
}
.cont-element:hover i{
  background-color: #111010;
  color: #011627;
}
.cont-element a{
  /* yazının renki */
  color: #111111;    
  text-decoration: none;
}
.cont-bottom{
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cont-bottom a{
  /* instagram,linkdlin renkleri */
  color: #443c3c;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--main-color);
  border-radius: 50%;
}
.cont-bottom a:hover{
  color: #110f0f;
  background-color: #b4abab;
}


.cont-right{
  width: 60%;
  padding: 3rem;
}
.cont-right form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont-right form input, textarea, button{
  width: 100%;
  margin: 1rem 0;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #1a1818;
  color: #a09797; 
  transition: all 0.4s ease;
}
.cont-right form button{
  background-color: #070707;
  color: #c9d2da;
  cursor: pointer;
}
.cont-right form button:hover{
  background-color: #011627;
  color: #080808;
}
.cont-right form input:hover, textarea:hover{
  color: #011627;
  background-color: #0c0b0b;
}
.cont-right form input:focus, textarea:focus{
  color: #011627;
  background-color: #111010;
}














